<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security-5.4.xsd">
	<http auto-config="true">
		<csrf disabled="true" />
		<intercept-url pattern="/admin*"
			access="hasRole('admin')" />

		<intercept-url pattern="/*"
			access="hasRole('admin') or hasRole('user')" />
		<access-denied-handler error-page="/403" />
		<form-login login-page="/login"
			login-processing-url="/j_spring_security_login"
			default-target-url="/trang-chu"
			authentication-failure-url="/login?message=error"
			username-parameter="username" password-parameter="password" />
		<logout logout-url="/logout-admin"
			logout-success-url="/auth/login-admin" delete-cookies="JSESSIONID" />
	</http>
	<authentication-manager>
		<authentication-provider>
			 <user-service>
        		<user name="admin" password="{noop}123456" authorities="admin" />
        		<user name="user" password="{noop}123456" authorities="user" />
      		</user-service>
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>

	</authentication-manager>
</beans:beans>  



