<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan
		base-package="com.locShop.controller" />
	<bean id="categoryService"
		class="com.locShop.service.impl.CategoryService" />
	<bean id="categoryDao" class="com.locShop.dao.impl.CategoryDao" />
	<bean id="productService"
		class="com.locShop.service.impl.ProductService" />
	<bean id="productDao" class="com.locShop.dao.impl.ProductDao" />
	<bean id="userService"
		class="com.locShop.service.impl.UserService" />
	<bean id="UserDAO" class="com.locShop.dao.impl.UserDao" />


	<mvc:annotation-driven />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>


	<!-- start upload -->
	<mvc:resources mapping="/resources/**"
		location="/resources/" cache-period="31556926" />
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="268435456" />
	</bean>
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/i18n/messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en" />
		<property name="cookieName" value="myAppLocaleCookie"></property>
		<property name="cookieMaxAge" value="3600"></property>
	</bean>
	<!-- end upload -->


	<!-- start i18n -->
	<mvc:interceptors>
		<bean
			class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="language" />
		</bean>
	</mvc:interceptors>
	<!-- end i18n -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml" />
	</bean>

	<!-- start spring security -->
	<bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="12"></constructor-arg>
	</bean>
	<!-- end spring security -->


	<!-- start định nghĩa đường dẫn cho link web -->
	<mvc:resources location="/template/"
		mapping="/template/**"></mvc:resources>
	<!-- end định nghĩa đường dẫn cho link web -->


</beans>

